<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="content-container">
      <div class="centered-content">
        <h1>Contact</h1>

        <p><%= contactContent %></p>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
